# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# native
android/
ios/
*.ipa
*.apk
*.aab

# misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env.local
.env.*.local
