{
    "openapi": "3.1.0",
    "info": {
        "title": "CoreFlux API",
        "version": "1.0.0",
        "description": "Versioned CoreFlux application and integration API. The endpoint inventory is generated from the deployed PHP implementations; schemas remain intentionally permissive until each domain contract is promoted from implementation-derived to explicitly modeled."
    },
    "servers": [
        {
            "url": "https://www.corefluxapp.com",
            "description": "Production"
        },
        {
            "url": "http://127.0.0.1:8080",
            "description": "Local development"
        }
    ],
    "tags": [
        {
            "name": "accounting"
        },
        {
            "name": "accounting_events"
        },
        {
            "name": "active_entity"
        },
        {
            "name": "active_persona"
        },
        {
            "name": "admin"
        },
        {
            "name": "admin_healthcheck"
        },
        {
            "name": "ai"
        },
        {
            "name": "ai_accuracy"
        },
        {
            "name": "ai_agents"
        },
        {
            "name": "ai_categorization_rules"
        },
        {
            "name": "airtable"
        },
        {
            "name": "ap"
        },
        {
            "name": "ap_bill_liquidity_impact"
        },
        {
            "name": "ap_bill_replay"
        },
        {
            "name": "audit_anomaly"
        },
        {
            "name": "audit_log"
        },
        {
            "name": "auth"
        },
        {
            "name": "billing"
        },
        {
            "name": "billing_invoice_replay"
        },
        {
            "name": "books_health"
        },
        {
            "name": "cfo_annotate"
        },
        {
            "name": "cfo_audit_snapshot"
        },
        {
            "name": "cfo_formulas"
        },
        {
            "name": "cfo_notes"
        },
        {
            "name": "cfo_revenue_stream"
        },
        {
            "name": "cfo_send_report"
        },
        {
            "name": "ci_status"
        },
        {
            "name": "custom_field_definitions"
        },
        {
            "name": "custom_field_layouts"
        },
        {
            "name": "dimensional_pnl"
        },
        {
            "name": "engagements"
        },
        {
            "name": "evidence_upload_url"
        },
        {
            "name": "exec_dashboard"
        },
        {
            "name": "exec_dashboard_views"
        },
        {
            "name": "exec_filters"
        },
        {
            "name": "export_templates"
        },
        {
            "name": "financial_state"
        },
        {
            "name": "gl_detail"
        },
        {
            "name": "gusto_oauth_callback"
        },
        {
            "name": "gusto_oauth_start"
        },
        {
            "name": "gusto_webhook"
        },
        {
            "name": "integrations"
        },
        {
            "name": "je_auto_reverse"
        },
        {
            "name": "jobdiva"
        },
        {
            "name": "kpi_notes"
        },
        {
            "name": "line_ai_suggest"
        },
        {
            "name": "liquidity_forecast"
        },
        {
            "name": "mail_connections"
        },
        {
            "name": "mail_settings"
        },
        {
            "name": "mercury_accounts"
        },
        {
            "name": "mercury_connection"
        },
        {
            "name": "mercury_payments"
        },
        {
            "name": "mercury_recipients"
        },
        {
            "name": "mercury_recipients_csv_import"
        },
        {
            "name": "mercury_reconciliation"
        },
        {
            "name": "mercury_transactions"
        },
        {
            "name": "missing_dimensions"
        },
        {
            "name": "payroll"
        },
        {
            "name": "people"
        },
        {
            "name": "people_graph"
        },
        {
            "name": "placements"
        },
        {
            "name": "plaid_auth_pull"
        },
        {
            "name": "plaid_bank_link"
        },
        {
            "name": "plaid_dedupe"
        },
        {
            "name": "plaid_diagnostics"
        },
        {
            "name": "plaid_exchange"
        },
        {
            "name": "plaid_items"
        },
        {
            "name": "plaid_link_token"
        },
        {
            "name": "plaid_sync_transactions"
        },
        {
            "name": "plaid_transfer_link"
        },
        {
            "name": "plaid_transfer_webhook"
        },
        {
            "name": "plaid_webhook"
        },
        {
            "name": "posting_rules_replay"
        },
        {
            "name": "posting_rules_seed"
        },
        {
            "name": "purepay_connection"
        },
        {
            "name": "qbo"
        },
        {
            "name": "report_builder"
        },
        {
            "name": "reports"
        },
        {
            "name": "reports_ai_explain"
        },
        {
            "name": "reports_finance"
        },
        {
            "name": "reports_staffing"
        },
        {
            "name": "review_flags"
        },
        {
            "name": "sso"
        },
        {
            "name": "sso_config"
        },
        {
            "name": "staffing"
        },
        {
            "name": "sub_tenant_analytics"
        },
        {
            "name": "sub_tenant_consolidated_reports"
        },
        {
            "name": "sub_tenant_setup_checklist"
        },
        {
            "name": "sub_tenants"
        },
        {
            "name": "tax_form_export"
        },
        {
            "name": "tax_mapping_ai_suggest"
        },
        {
            "name": "tax_mappings"
        },
        {
            "name": "tenant_digest_schedules"
        },
        {
            "name": "tenant_mail_branding"
        },
        {
            "name": "tenant_modules"
        },
        {
            "name": "tenants"
        },
        {
            "name": "time"
        },
        {
            "name": "transactions_to_review"
        },
        {
            "name": "treasury"
        },
        {
            "name": "treasury_cash_position"
        },
        {
            "name": "treasury_payments"
        },
        {
            "name": "treasury_recommendations"
        },
        {
            "name": "treasury_scenario"
        },
        {
            "name": "treasury_scenario_compare"
        },
        {
            "name": "treasury_scenario_presets"
        },
        {
            "name": "treasury_scenario_share"
        },
        {
            "name": "treasury_transfers"
        },
        {
            "name": "users"
        },
        {
            "name": "webhooks"
        },
        {
            "name": "workflow"
        },
        {
            "name": "workflow_ai"
        },
        {
            "name": "zoho_books"
        }
    ],
    "paths": {
        "/api/accounting.php": {
            "get": {
                "operationId": "get_api_accounting_php",
                "summary": "/api/accounting.php — provider-neutral accounting backend router",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_php",
                "summary": "/api/accounting.php — provider-neutral accounting backend router",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/accounting/ai_interpretations.php": {
            "get": {
                "operationId": "get_api_accounting_ai_interpretations_php",
                "summary": "/api/accounting/ai_interpretations — read + review surface for AI",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/ai_interpretations.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_ai_interpretations_php",
                "summary": "/api/accounting/ai_interpretations — read + review surface for AI",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/ai_interpretations.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/accounting/close_runs.php": {
            "get": {
                "operationId": "get_api_accounting_close_runs_php",
                "summary": "/api/accounting/close_runs.php — Slice D orchestrator endpoints",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/close_runs.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_close_runs_php",
                "summary": "/api/accounting/close_runs.php — Slice D orchestrator endpoints",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/close_runs.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/accounting/event_lineage.php": {
            "get": {
                "operationId": "get_api_accounting_event_lineage_php",
                "summary": "/api/accounting/event_lineage — drill the causal chain",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/event_lineage.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_event_lineage_php",
                "summary": "/api/accounting/event_lineage — drill the causal chain",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/event_lineage.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/accounting/evidence.php": {
            "get": {
                "operationId": "get_api_accounting_evidence_php",
                "summary": "/api/accounting/evidence — Canonical evidence attachment surface",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/evidence.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_evidence_php",
                "summary": "/api/accounting/evidence — Canonical evidence attachment surface",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/evidence.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_api_accounting_evidence_php",
                "summary": "/api/accounting/evidence — Canonical evidence attachment surface",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/evidence.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/accounting/exceptions.php": {
            "get": {
                "operationId": "get_api_accounting_exceptions_php",
                "summary": "/api/accounting/exceptions — Unified Exception Queue API (Phase 1d)",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/exceptions.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_exceptions_php",
                "summary": "/api/accounting/exceptions — Unified Exception Queue API (Phase 1d)",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/exceptions.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/accounting/je_trace.php": {
            "get": {
                "operationId": "get_api_accounting_je_trace_php",
                "summary": "/api/accounting/je_trace — Trace a posted journal entry back to its",
                "tags": [
                    "accounting"
                ],
                "x-source-file": "api/accounting/je_trace.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/accounting_events.php": {
            "get": {
                "operationId": "get_api_accounting_events_php",
                "summary": "Accounting Events API (Sprint 7b, spec §38)",
                "tags": [
                    "accounting_events"
                ],
                "x-source-file": "api/accounting_events.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_accounting_events_php",
                "summary": "Accounting Events API (Sprint 7b, spec §38)",
                "tags": [
                    "accounting_events"
                ],
                "x-source-file": "api/accounting_events.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/active_entity.php": {
            "get": {
                "operationId": "get_api_active_entity_php",
                "summary": "Active-entity API",
                "tags": [
                    "active_entity"
                ],
                "x-source-file": "api/active_entity.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_active_entity_php",
                "summary": "Active-entity API",
                "tags": [
                    "active_entity"
                ],
                "x-source-file": "api/active_entity.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/active_persona.php": {
            "get": {
                "operationId": "get_api_active_persona_php",
                "summary": "/api/active_persona.php — RBAC B5 persona toggle",
                "tags": [
                    "active_persona"
                ],
                "x-source-file": "api/active_persona.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_active_persona_php",
                "summary": "/api/active_persona.php — RBAC B5 persona toggle",
                "tags": [
                    "active_persona"
                ],
                "x-source-file": "api/active_persona.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_api_active_persona_php",
                "summary": "/api/active_persona.php — RBAC B5 persona toggle",
                "tags": [
                    "active_persona"
                ],
                "x-source-file": "api/active_persona.php",
                "x-audience": "tenant",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/accounting/outbox": {
            "get": {
                "operationId": "get_api_admin_accounting_outbox",
                "summary": "/api/admin/accounting/outbox.php — accounting outbox admin surface",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/accounting/outbox.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/accounting/outbox.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_accounting_outbox",
                "summary": "/api/admin/accounting/outbox.php — accounting outbox admin surface",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/accounting/outbox.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/accounting/outbox.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/accounting_coa_coverage": {
            "get": {
                "operationId": "get_api_admin_accounting_coa_coverage",
                "summary": "/api/admin/accounting_coa_coverage.php — chart of accounts coverage",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/accounting_coa_coverage.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/accounting_coa_coverage.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_accounting_coa_coverage",
                "summary": "/api/admin/accounting_coa_coverage.php — chart of accounts coverage",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/accounting_coa_coverage.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/accounting_coa_coverage.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/accounting_sync_dashboard": {
            "get": {
                "operationId": "get_api_admin_accounting_sync_dashboard",
                "summary": "/api/admin/accounting_sync_dashboard.php — unified roll-up of every",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/accounting_sync_dashboard.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/accounting_sync_dashboard.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/accounting_sync_reconcile": {
            "post": {
                "operationId": "post_api_admin_accounting_sync_reconcile",
                "summary": "/api/admin/accounting_sync_reconcile.php — fire a sync on each",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/accounting_sync_reconcile.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/accounting_sync_reconcile.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/ai_settings": {
            "get": {
                "operationId": "get_api_admin_ai_settings",
                "summary": "/api/admin/ai_settings.php — per-tenant AI toggles for the admin UI",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/ai_settings.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/ai_settings.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_ai_settings",
                "summary": "/api/admin/ai_settings.php — per-tenant AI toggles for the admin UI",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/ai_settings.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/ai_settings.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/ai_usage": {
            "get": {
                "operationId": "get_api_admin_ai_usage",
                "summary": "/api/admin/ai_usage.php — last-N-day AI usage panel",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/ai_usage.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/ai_usage.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/auditor_tokens": {
            "get": {
                "operationId": "get_api_admin_auditor_tokens",
                "summary": "/api/admin/auditor_tokens.php — CRUD for External Auditor tokens",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/auditor_tokens.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/auditor_tokens.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_auditor_tokens",
                "summary": "/api/admin/auditor_tokens.php — CRUD for External Auditor tokens",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/auditor_tokens.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/auditor_tokens.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "patch_api_admin_auditor_tokens",
                "summary": "/api/admin/auditor_tokens.php — CRUD for External Auditor tokens",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/auditor_tokens.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/auditor_tokens.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_api_admin_auditor_tokens",
                "summary": "/api/admin/auditor_tokens.php — CRUD for External Auditor tokens",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/auditor_tokens.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/auditor_tokens.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/cpa_audit": {
            "get": {
                "operationId": "get_api_admin_cpa_audit",
                "summary": "/api/admin/cpa_audit.php — CPA-portfolio-scoped audit feed",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/cpa_audit.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/cpa_audit.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/cpa_firm_dashboard": {
            "get": {
                "operationId": "get_api_admin_cpa_firm_dashboard",
                "summary": "/api/admin/cpa_firm_dashboard.php — multi-tenant firm rollup",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/cpa_firm_dashboard.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/cpa_firm_dashboard.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/cpa_firms": {
            "get": {
                "operationId": "get_api_admin_cpa_firms",
                "summary": "/api/admin/cpa_firms.php — CPA-firm ↔ client-tenant link admin endpoint",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/cpa_firms.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/cpa_firms.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_cpa_firms",
                "summary": "/api/admin/cpa_firms.php — CPA-firm ↔ client-tenant link admin endpoint",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/cpa_firms.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/cpa_firms.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_api_admin_cpa_firms",
                "summary": "/api/admin/cpa_firms.php — CPA-firm ↔ client-tenant link admin endpoint",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/cpa_firms.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/cpa_firms.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/cross_tenant_audit": {
            "get": {
                "operationId": "get_api_admin_cross_tenant_audit",
                "summary": "/api/admin/cross_tenant_audit.php — chronological feed of every save",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/cross_tenant_audit.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/cross_tenant_audit.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/csv_import_history": {
            "get": {
                "operationId": "get_api_admin_csv_import_history",
                "summary": "CSV Import History — audit trail of every bulk import",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/csv_import_history.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/csv_import_history.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_csv_import_history",
                "summary": "CSV Import History — audit trail of every bulk import",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/csv_import_history.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/csv_import_history.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/csv_mapping_presets": {
            "get": {
                "operationId": "get_api_admin_csv_mapping_presets",
                "summary": "CSV mapping presets — saved header→field maps that turn recurring",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/csv_mapping_presets.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/csv_mapping_presets.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            },
            "post": {
                "operationId": "post_api_admin_csv_mapping_presets",
                "summary": "CSV mapping presets — saved header→field maps that turn recurring",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/csv_mapping_presets.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/csv_mapping_presets.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "delete_api_admin_csv_mapping_presets",
                "summary": "CSV mapping presets — saved header→field maps that turn recurring",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/csv_mapping_presets.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/csv_mapping_presets.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/fsc_health": {
            "get": {
                "operationId": "get_api_admin_fsc_health",
                "summary": "/api/admin/fsc_health.php — Financial State Cache health snapshot",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/fsc_health.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
                        "$ref": "#/components/responses/Error"
                    },
                    "422": {
                        "$ref": "#/components/responses/Error"
                    },
                    "500": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "x-legacy-paths": [
                    "/api/admin/fsc_health.php"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "sessionCookie": []
                    }
                ]
            }
        },
        "/api/admin/integration_triage": {
            "get": {
                "operationId": "get_api_admin_integration_triage",
                "summary": "Single read-only aggregator for the Integration Triage operator",
                "tags": [
                    "admin"
                ],
                "x-source-file": "api/admin/integration_triage.php",
                "x-audience": "admin",
                "x-auth-model": "session_or_bearer",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Success"
                    },
                    "201": {
                        "$ref": "#/components/responses/Success"
                    },
                    "400": {
                        "$ref": "#/components/responses/Error"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error"
                    },
                    "405": {
[...]
